﻿/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.big-block {
    margin-left: 10px;
    padding-bottom: 40px;
}


.body-charts {
    min-height: 85vh;
}


.hexInput {
    height: 100px;
    width: 100px;
    font-size: xx-large;
    text-align: center;
    text-transform: uppercase;
}

.hexInputContainer {
}

.bottonGo {
    height: 100px;
    text-align: center;
    padding-top: 25px;
}

.bottonGo > img {
    cursor: pointer;
}

.hexInputError {
    border: 1px solid red;
}

.hexInputOk {
    border: 1px groove green;
}

.truncate {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; /* for links */
    max-height: 100px;
}

.errormessage {
    color: red;
    font-weight: bolder;
}

#controllersContainer {
    position: relative;
    text-align: center;
}

.chartContainer {
    width: 100%;
    height: 380px;
    display: none;
}

.tableContainer {
    width: 100%;
    display: none;
}


.tableAlarmHeader {
}

.tableAlarmLine {
}


.noChartContainer {
    width: 100%;
    display: block;
    color: red;
    font-weight: bold;
    font-size: small;
    text-indent: 50px;
}


.alarmLine {
    font-size: small;
    text-align: left;
    text-indent: 10px;
}

.bar-link {
    padding-left: 20px;
    border-right: 1px solid black;
    padding-right: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
}

.header-logos {
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-element-valid {
    border-color: green;
}

.thresholdContainer {
    display: none;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#chartsPartial {
    margin-top: 3vh;
}

#chartsPartial a[data-toggle=tab] {
    display: none;
}

#containerName {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
}