﻿
@{
    ViewBag.Title = "About";
}

<style>

    .about_img {
        text-align:center;
        padding: 20px;
        height: 200px;
    }


</style>

<div class="row" style="text-align:center">
    <img class="about_img" src="~/Images/Logos/stm.png" />
</div>
<div class="row" style="text-align:center">
    <img class="about_img" src="~/Images/Logos/ISMB.jpg" />
</div>
<div class="row" style="text-align:center">
    <img class="about_img" src="~/Images/Logos/microsoft.jpg" />
</div>


