﻿@model CTDWeb.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="~/Scripts/CTDUtils.js"></script>
<script type="text/javascript" src="~/Scripts/charts/charts.js"></script>

<div class="body-charts" style="background:#FFFFFF;">
    <div class="row">
            <div class="row">
                <div id="macHidden" class="col-md-12">
                    <div class="col-md-12">
                        <h3 id="containerName">
                            Live sensors data (@Model.MAC)
                        </h3>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Message to device</span>
                            <input type="text" id="c2dMessage" value="alarm" class="form-control" />
                        </div>
                        <br />
                        <button value="Send" class="btn btn-primary" onclick="sendMessageToDevice($('#c2dMessage').val())">Send</button>
                    </div>
                </div>
            </div>
    </div>
    <div class="row" id="chartsDiv">
        @Html.Partial("_Charts")
    </div>

</div>

<script>
    function saveInSessionStorage(key, val) {
        if (typeof (Storage) !== "undefined") { // check if browser support storage
            window.sessionStorage.setItem(key, val);
        } 
    }
    function getFromSessionStorage(key) {
        if (typeof (Storage) !== "undefined") { // check if browser support storage
            return window.sessionStorage.getItem(key);
        }
        return null;
    }

    var savePositionURL = "https://stm32ode-register.azurewebsites.net/api/Users";
    var SESSION_STORAGE_MAC_POSITION_KEY = "MAC_POSITION"

    function saveLocation(macAddress) {
        if (getFromSessionStorage(SESSION_STORAGE_MAC_POSITION_KEY) != macAddress) { // save position only 1 time per user's session
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((position) => { savePosition(macAddress, position) }, (error) => { handleError(macAddress, error) });
            } else {
                handleError({ code: "NOT_SUPPORTED" });
            }
        }
    }

    function savePosition(macAddress, position) {
        var userData = {
            Longitude: position.coords.longitude,
            Latitude: position.coords.latitude,
            Timestamp: new Date().toISOString(),
            DeviceMacAddress: macAddress
        };
        //console.log("saving", userData);
        $.post(savePositionURL, userData).done(function (data) {
            saveInSessionStorage(SESSION_STORAGE_MAC_POSITION_KEY, macAddress);
            //console.log( "Data Loaded: ",  data );
        });
    }
    function handleError(macAddress, error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
            case error.POSITION_UNAVAILABLE:
            case error.TIMEOUT:
            case error.UNKNOWN_ERROR:
            case "NOT_SUPPORTED":
                var userData = {
                    Longitude: 0,
                    Latitude: 0,
                    Timestamp: new Date().toISOString(),
                    DeviceMacAddress: macAddress
                };

                //console.log("error saving", userData);

                $.post(savePositionURL, userData).done(function (data) {
                    //console.log("Data Loaded: ", data);
                });

                break;
        }
    }

    $(document).ready(function () {
        if ('@Model.MAC' != "") {
            macAddress = '@Model.MAC';
            registerSignalRClient(macAddress, $("#chartsDiv"));
            saveLocation(macAddress);
            $('#macHidden').fadeIn(1000);
        }

    });
</script>

